In [4]:
import pandas as pd 
import numpy as np
frame1 = pd.DataFrame( { 'id':['ball','pencil','pen','mug','ashtray'], 'price':[12.33,11.44,33.21,13.23,33.62]})
frame1

        id  price
0     ball  12.33
1   pencil  11.44
2      pen  33.21
3      mug  13.23
4  ashtray  33.62

In [5]:
frame2 = pd.DataFrame( { 'id':['pencil','pencil','ball','pen'], 'color':['white','red','red','black']})
frame2

       id  color
0  pencil  white
1  pencil    red
2    ball    red
3     pen  black

# If you have two DataFrame frame1 and frame1, write command to:

## 1. Merge using inner join.

In [10]:
pd.merge(frame1,frame1,on = 'id')

        id  price_x  price_y
0     ball    12.33    12.33
1   pencil    11.44    11.44
2      pen    33.21    33.21
3      mug    13.23    13.23
4  ashtray    33.62    33.62

In [16]:
pd.merge(frame1,frame2,on = 'id')

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  black

## 2. Merge using left join.

In [13]:
pd.merge(frame1,frame1,on = 'id',how = 'left')

        id  price_x  price_y
0     ball    12.33    12.33
1   pencil    11.44    11.44
2      pen    33.21    33.21
3      mug    13.23    13.23
4  ashtray    33.62    33.62

In [15]:
pd.merge(frame1,frame2,on = 'id',how = 'left')

        id  price  color
0     ball  12.33    red
1   pencil  11.44  white
2   pencil  11.44    red
3      pen  33.21  black
4      mug  13.23    NaN
5  ashtray  33.62    NaN

## 3. Merge on index

In [17]:
pd.merge(frame1,frame2,right_index=True,left_index = True)

     id_x  price    id_y  color
0    ball  12.33  pencil  white
1  pencil  11.44  pencil    red
2     pen  33.21    ball    red
3     mug  13.23     pen  black